.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: var(--text-color);
  color: var(--bg-color);
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  height: 40px;

  &.full {
    width: 100%;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
