.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  p {
    font-size: 14px;
    font-weight: 600;
  }

  input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid grey;
    padding: 10px 8px;
    height: 40px;
  }
}
