.spinner {
  /* width: 21px;
  height: 21px; */

  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0px auto;
  background-color: transparent;

  border: 4px solid var(--primary-bg);
  border-top: 4px solid var(--primary-text);
  border-left: 4px solid var(--primary-text);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
