.spinner {
  /* width: 21px;
  height: 21px; */

  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0px auto;
  background-color: transparent;

  border: 4px solid var(--bg-color);
  border-top: 4px solid var(--text-color);
  border-left: 4px solid var(--text-color);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
