.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;

  background-color: var(--blur-bg);

  .container {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 300px;

    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: var(--shadow);
  }
}
