.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 300px;
    border-radius: 18px;
    padding: 20px;
    border: 1px solid grey;
  }
}
