.container {
  position: relative;

  width: 38px;
  height: 20px;

  border-radius: 20px;

  background-color: var(--text-color);
  cursor: pointer;

  .circle {
    position: absolute;
    top: 4px;
    left: 4px;

    border-radius: 12px;

    background-color: var(--bg-color);
    width: 12px;
    height: 12px;

    transition: left 0.2s ease;

    &.active {
      left: 22px;
    }
  }
}
