.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .text {
      font-size: 24px;
      font-weight: 600;
    }
  }
}
